:root {
    --btn-success: hsl(141, 53%, 53%);
    --btn-info: hsl(203, 47%, 25%);
    --btn-brown: #4b2a2a; 
    --aqua: cornflowerblue;
}
body{
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    font-family: 'Poppins', sans-serif !important;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
#header {
    width: 100%;
    margin: 0;
    background-color: var(--aqua) !important;
}

#card-auth {
    height: 50vh; 
    margin: auto;
    margin-top: 5rem;
    background-color: black;
    border-radius: 30px !important;
    box-shadow: rgba(70, 43, 46, 0.48) 6px 2px 16px 0px, rgba(80, 49, 55, 0.8) -6px -2px 16px 0px;
}

.btn-light, #btn-register:hover, #btn-login:hover {
    color: #1c1717 !important;
    background-color: #fff !important;
}

.form-control {
    background-color: rgb(212, 211, 205) !important;
}

.btn-register {
    background-color: var(--btn-brown) !important;
}


.test:hover {
    color: #812c30 !important;
}

.btn-login {
    color: white;
    background-color: var(--btn-brown);
}

.btn-login:hover {
    background-color: rgb(79, 34, 47);
    color: white;
}

.btn-register:hover {
    background-color: beige;
}


