:root {
    --success-dark: #80daa5;
    --violet: #7b24aa;
    --violet-dark: #9933cc; 
    --aqua: cornflowerblue;
}

*, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    min-height: 40rem;
}

#header {
    width: 100%;
    margin: 0;
    background-color: var(--aqua) !important;
}

.btn {
    font-size: 1em !important;
}

.btn-danger {
    background-color: #f14668 !important;
}

.btn-info {
    background-color: hsl(204, 86%, 53%) !important;
    border-color: 5px solid hsl(305.17deg 83.11% 42.31% / 55%) !important;
}

.btn-info:hover{
    background-color: var(--violet) !important;
}

.btn-aqua {
    border: none !important;
    background: linear-gradient(to bottom right, #5f656a, #4b5758);
    color: white !important;
}   

.btn-detail {
    background-color: #899192 !important;
}

.btn-dark:hover {
    background-color: rgb(82, 97, 109) !important;
    color: rgb(246, 241, 241) !important;
}

.btn-aqua {
    background-color: cornflowerblue !important;
}

.btn-outline-info, .btn-outline-primary:hover {
    color: white !important;
}

.btn-light, #btn-register:hover, #btn-login:hover {
    color: #1c1717 !important;
    background-color: #fff !important;
}

.btn-light:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white !important;
    background-color: #6a63bf !important;
}
/* Thêm các kiểu cơ bản cho vùng chứa và ảnh */
.slide-show {
    overflow: hidden;
    width: 100%; 
    background-color: #F2F2F2
}
  
.horizontal-scroll {
    display: flex;
    width: fit-content; /* Điều này làm cho ảnh rộng gấp đôi vùng chứa để tạo hiệu ứng cuộn ngang */
    animation: scroll 10s linear infinite; /* Thiết lập animation cho cuộn ngang liên tục */
}

.image-container {
   flex-shrink: 0; /* Ngăn các phần tử co lại khi không đủ không gian */
   width: 150%;
   overflow: hidden;
}
  
.card {
    height: 100%;
}

#card-img {
  width: 100%;
  height: 180px; /* Điều chỉnh kích thước ảnh theo ý muốn */
}

@keyframes scroll {
    0%{
      transform: translateX(90%);
    }
    100%{
        transform: translateX(1%);
    }
}

#btn-card:hover { 
    background-color: white;
    color:#7a62e3 !important;
}

#btn-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #4f47ee;
}

.dropdown-toggle::after {
    content: none !important;
}

@media (max-width: 500px){
    .nav-item a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .nav-item a span {
      display: none;
    }

    #card-text {
        font-size: 1em !important;
    }
}

.item-li:hover {
    color: rgb(243, 248, 243) !important;
    background-color: #7a62e3 !important;
}

.btn-logout:hover {
    color: #fff !important;
    background-color: #f14668 !important;
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMrfD6cuj3G8OoqXOpEBVzRc2P_02gbsKZQQ&usqp=CAU');
    background-size: cover;
    z-index: -11;
}

.card-text{
    font-size: 10px;
}

#box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
}

#text-shadow {
    text-shadow: 1px 10px 18px rgb(46, 8, 236);
}

#dropdownUser3 {
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    padding: 11.5px 5.5px;
    border: none;
}

#card-text {
    font-size: 0.8em;
}

  